<div id="home"
    style="background-image: url('assets/1.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;object-fit: cover;">
    <div class="container-fluid sticky-top">
        <div class="row bg-dark text-light align-items-center" style="height:10vh;font-size:large;">EMPLOYEE
            MANAGEMENT SYSTEM
            <div class="col d-flex justify-content-end sticky-top align-items-center">
                <div>
                    <button class="mr-1 btn btn-primary" (click)="logOutAndClose()">Log Out</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6" style="justify-content: left; align-items: center;border-radius:10%;">
                <p style="font-size:xx-large;font-family:fantasy;color:royalblue;justify-content:left;margin-left:0%">
                    A COMPANYS MOST VALUABLE ASSET IS ITS EMPLOYEES!!
                </p>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col" style="justify-content: center;background-color:primary;border-radius:25px;">


                <h1>What is Employee Management System?</h1>
                <p style="font-size: 20px;color: white;">
                    An employee management system consists of crucial work-related and important personal
                    information about an employee.
                    In a nutshell, it is an online inventory of all employees of an organization.
                    Employees are the strength of any organization, and it is more so in case of a growing
                    business.
                </p>
            </div>

            <div class="col" style="justify-content: center;background-color: rgb(220, 167, 20);border-radius: 25px;">
                <h2>Goal of Management</h2>
                <p style="font-size: 20px;color: white;">
                    One of the biggest criticisms of management by workers is that they have no idea what their employer
                    expects of them,which makes them unsure of their part in achieving the overall goals of the
                    organization.
                    A good performance management system should be able to rectify this problem.

                </p>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col" style="justify-content:end;background-color:rgb(220, 167, 20);border-radius:25px;">
                        <h3>Ease your Decision Making</h3>
                        <p style="font-size: 20px;color:white;">

                            By accessing employee management system, you can either customize or create your own metrics
                            or
                            Also, you can motivate and support your staff with an analytically driven metric system.
                            With
                            it timesheet management and time tracking software,it becomes easier to decision-making and
                            no
                            more errors are committed
                            thereafter.

                        </p>

                    </div>
                    <div class="col" style="justify-content: center;background-color:primary;border-radius:25px;">
                        <h3>Online Employee Management</h3>
                        <p style="font-size: 20px;color:crimson;">
                            Tracing and recording of the employee data had never been easier.
                            Creating a proper employee database is an important to-do task for perfect payroll.
                            The online employee management system lets your HR work from any remote location as well.

                        </p>

                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col" style="justify-content: center;background-color:white;border-radius:25px;">
                                <h3>Save More Time</h3>
                                <p style="font-size: 20px;color:crimson;">

                                    Save more time
                                    Our HR software solution offers an intelligent module that keeps you organized all
                                    the
                                    time by providing all data of employees at your fingertips.
                                    Your HR department now does not need to crawl through multiple files and
                                    spreadsheets to
                                    get the information of an employee thereby saving a substantial amount of time at
                                    their
                                    end.
                                    You can therefore, invest these saved hours in other developments.


                                </p>

                            </div>

                            <div class="col"
                                style="justify-content: center;background-color:rgb(220, 167, 20);border-radius:25px;">
                                <h3>Major challenges in employee management</h3>
                                <p style="font-size: 20px;color:white;">

                                    1. Critical to engaged employees<br>
                                    2. Difficult to track workforce productivity<br>
                                    3. Keeping track of employee attendance<br>
                                    4. Difficult to trace and record staff data

                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>