<div class="container-fluid">
    <div class="row d-flex" style="height:90vh">
        <div class="col-12 col-md-6 bg-primary text-light d-flex justify-content-center align-items-center flex-column">
            <div style="font-size: 28px;">EMPLOYEE MANAGEMENT SYSTEM</div>

        </div>
        <div class="col-12 col-md-6 bg-light d-flex justify-content-center align-items-center">
            <div id="box" class="d-flex justify-content-center align-items-center flex-column"
                [formGroup]="fbFormGroup">
                <div class="alert alert-danger" role="alert">
                    A simple danger alert—check it out!
                </div>

                <div class="h4 text-light">
                    LOGIN AS USER
                </div>

                <div>
                    <input id="inp" class="form-control" type="text" placeholder="Enter Username"
                        formControlName="username" />
                </div>

                <div class="mt-1">
                    <input id="inp" type="password" class="form-control" placeholder="Enter Password"
                        formControlName="password" />
                </div>

                <button class="btn btn-md btn-primary mt-2 mb-2 text-light" [disabled]="!fbFormGroup.valid">
                    Login Here
                </button>
            </div>
        </div>
    </div>
</div>