<div class="container-fluid">
    <div class="row bg-dark text-light align-items-center sticky-top" style="height:10vh">
        <div class="col d-flex justify-content-end align-items-center">
            <div>
                <button class="mr-1 btn btn-primary" (click)="gotoPage('AdminLogin')">Login</button>
                <button class="btn btn-primary" (click)="gotoPage('Contact')">Contact Us</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid"
    style="background-image: url('assets/2.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;object-fit: cover;">
    <div class="row d-flex justify-content-center align-items-center" style="height:100vh">
        <div class="col-12 d-flex justify-content-center align-items-center" style="height:50vh">
            <div class="col-6 bg-dark border border-danger d-flex justify-content-center align-items-center flex-column text-light"
                style="height:30vh;font-size: 25px;">
                <div> Name: Supriya Deshmukh</div>
                <div> Email:deshmukhsupriya2397@gmail.com</div>
                <div> MOB.No:9307610754</div>
            </div>
            <div class="col-6 bg-dark d-flex border border-danger justify-content-center align-items-center flex-column text-light"
                style="height:30vh;font-size: 25px;">
                <div> Name: Siddhesh Bhavsar</div>
                <div> Email:bsiddhesh18@gmail.com</div>
                <div> MOB.No: 8600080721</div>
            </div>
        </div>
    </div>
</div>